<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" type="image/x-icon"/>
    <title>组卷系统</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
